<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    direction: rtl;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>

<div class="row" style="margin: 0px !important;">
  <div class="col-12" style="background-color: #1E2C40;height: 60px;" >
    <span>سامانه ورود و خروج</span>
  </div>
  <div class="col-md-2">
    <ul style="text-decoration: none;">
      <li style="list-style-type: none;margin: 0px;padding: 0px;"><a href="#">داشبورد</a></li>
      <li style="list-style-type: none;margin: 0px;padding: 0px;"><a href="#">افراد درون ساختمان</a></li>
      <li style="list-style-type: none;margin: 0px;padding: 0px;"><a href="#">لیست افراد مجاز</a></li>
    </ul>
  </div>
  <div class="col-md-10" style="background-color: #ADC4CE;height: 700px;">
    nama
  </div>


</div>
