<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    direction: rtl;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>

<div class="row mainRow">
  <div class="col-12" style="background-color: #1E2C40;height: 80px;">
    <img src="assets/images/logo1.png" alt="logo" style="height: 56px;width: 56px;margin-right: 12px;margin-top: 12px;">
    <span style="color: white;">سامانه مدیریت ورود و خروج</span>
  </div>
</div>
<div class="row mainRow">
  <div class="col-md-2">
    <ul style="text-decoration: none;padding: 16px;">
      <li class="myLi">داشبورد</li>
      <li class="myLi">افراد درون ساختمان</li>
      <li class="myLi">لیست افراد مجاز</li>
    </ul>
  </div>
  <div class="col-md-10" style="background-color: #ADC4CE;height: 700px;">
    <app-dashboard></app-dashboard>
  </div>
</div>