<div class="row">
    <div style="margin-right: 48px;margin-top: 32px;">
        <p style="font-size: 40px;font-weight: bold;">تاریخ : 2023/07/10</p>
    <button type="button" class="btn btn-secondary" style="width: 140px;">تغییر تاریخ</button>

    </div>
    
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="table-responsive card">
            <table class="table table-hover table-striped myTable">
                <thead>
                    <tr>
                        <th scope="col">نام و نام خانوادگی</th>
                        <th scope="col">ساعت ورود</th>
                        <th scope="col">ساعت خروج</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                    </tr>
        
                </tbody>
            </table>

        </div>
        

    </div>
    <div class="col-md-2">
        
    </div>


</div>